.vendas-plantas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
}

.plantas-vendas1 {
  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}

.plantas-vendas1 p {
  font-family: "Elsie Swash Caps";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  float: right;
}

.plantas-vendas2 {
  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}

.plantas-vendas2 p {
  font-family: "Elsie Swash Caps";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  float: right;
}

.plantas-vendas3 {
  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}

.plantas-vendas3 p {
  font-family: "Elsie Swash Caps";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  float: right;
}
