

@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat&family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Hurricane&family=IBM+Plex+Sans+Arabic:wght@300&family=Inter:wght@500&family=Montserrat:wght@100;400&family=Nunito&family=Open+Sans:ital,wght@1,300&family=Pacifico&family=Ramaraja&family=Righteous&family=Roboto:ital,wght@0,100;0,400;0,700;1,100&family=Sarala&display=swap');


.plantinha{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:-45px;
  margin-left: 690px;
  background-color: white;
 
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  width: 40%;
 
}

.plantinhaimg{
   
    
    max-width: 500px;
    justify-content: center;
    margin-left: -250px;

}


.vendaplantinha{
    background-color: white;
    opacity: 0.5;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
margin: 20px;
   
}



.minhaplantinha {

    font-family: 'Elsie Swash Caps';
font-weight: 900;
font-size: 42px;
margin: 20px;
}

.controle{
    display: flex;
    flex-direction: column;
    

}


.plantinha li{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
margin:10px;

}


.plantinha ul{
    list-style-image: url('./Ellipse1.png');
    margin:20px;
}